<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" type="text/css" th:href="@{/css/estilo-login.css}" />

<head>
</head>

<body>
	<div th:if="${param.error}">Usuário ou senha inválido.</div>
	<div th:if="${param.logout}">Você saiu do sistema.</div>
	<form th:action="@{/login}" method="post">
	<img src="../css/logo.png" alt="logo do site"> 
		<div class="login-page">
			<div class="form">

				<form>
					<input type="text" name="username" placeholder="usuario" /> <input type="password" name="password"
						placeholder="senha"/>
					<button>login</button>
					<p class="message">
						Não cadastrado? <a href="#">Crie uma conta</a>
					</p>

				</form>
			</div>
		</div>
	</form>
</body>